* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  background-color: #F1F3F6;
  color: #34495E;
}

header {
  text-align: center;
  padding-top: 20px;
}

header a {
  font-size: 36px;
  font-weight: bold;
  height: 36px;
  text-decoration: none;
  list-style: none;
}

header a {
  color: #34495E;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
  color: #34495E;
}

header a:visited {
  color: initial;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  list-style: none;
  background: #ffffff;
}

nav a {
  display: block;
  text-decoration: none;
  color: #6A6C6F;
  text-align: center;
  padding: 10px;
  padding-right: 25px;
}

nav a:hover {
  background: whitesmoke;
  color: black;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  background: white;
  border: 1px solid #E4E5E7;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 9px 18px;
}

th:last-child, td:last-child {
  text-align: right;
  color: #6A6C6F;
}

tr {
  border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
  background-color: #F7F9FA;
}

td a {
  color: #1577da;
  text-decoration: none;
}

/* class selector for book-details */
.book-details ul {
  list-style-type: none;
}

footer {
  border-top: solid 1px;
  background: #F7F9FA;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

footer a {
  color: lightblue;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: lightblue;
}

form button {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.button-center {
  display: flex;
  justify-content: center;
}